.a{
    height: 1200px;
    width: 1400px;
    background-color:rgb(245, 243, 243);
    padding-top: 40px;
}
.b{
    height: 450px;
    width:400px;
    background-color: white;
    position: absolute;
    top: 150px;
    left:300px;
}
.b1{
    height: 450px;
    width:400px;
    background-color: white;
    position: absolute;
    top: 150px;
    right: 300px;
}
.b2{
    height: 450px;
    width:400px;
    background-color: white;
    position: absolute;
    top: 650px;
    left: 300px;
}
.b3{
    height: 450px;
    width:400px;
    background-color: white;
    position: absolute;
    top: 650px;
    right: 300px;
}
.b4{
    height: 30px;
    width: 1400px;
    background-color: white;
    padding-top: 10px;
}
.c{
    background-color: lawngreen;
   
   }
.d{
    background-color:skyblue;
   }
select{
    border: 0px;
    background-color: red;
   }
.e{
    background-color: red;
   }
span{
    border: 1px solid grey;
      border-radius: 5px;
      padding: 8px;
   }
#a{
      height: 90px;
      width: 90px;
      margin-top: 30px;
      margin-right: 240px;
      border-radius: 45px;
      background-size: cover;
   }
hr{
    height: 300px;
    width: 0px;
    border:1px solid rgb(143, 143, 235);
    margin-right: 320px;
    margin-top: 0px;
   }
.f{
    height: 18px;
    width: 18px;
    background-color: skyblue;
    border-radius: 30px;
    border: 1px solid blue;
    position: absolute;
    left: 70px;
    top: 160px;
    box-shadow: 1px 1px 7px blue;
   }
.f1{
    height: 18px;
    width: 18px;
    background-color: skyblue;
    border-radius: 30px;
  position: absolute;
  left: 70px;
  top: 260px;
  border: 1px solid blue;
  box-shadow: 1px 1px 7px blue;
}
.f2{
    height: 18px;
    width: 18px;
    background-color: skyblue;
    border-radius: 30px;
    position: absolute;
    left: 70px;
    top: 360px;
    border: 1px solid blue;
    box-shadow: 1px 1px 7px blue;
}
.s{
    font-size: 18px;
    font-weight: bold;
    color: black;
   position: absolute;
   top: 10px;
   left: 150px;
   line-height: 40px;
   }
.v{
    font-size: 18px;
    border: 0px;
    position: absolute;
    top: 130px;
    left: 100px;
    line-height: 30px;
    text-align: left;
   }
.v1{
    font-size: 18px;
    border: 0px;
    position: absolute;
    top:230px;
    left: 100px;
    text-align: left;
    line-height: 30px;
   }
.v2{
    font-size: 18px;
    border: 0px;
    position: absolute;
    top: 330px;
    left: 100px;
    line-height: 30px;
    text-align: left;
   }
   